name: build dist

on:
  push:
  pull_request:

jobs:
  linux-build:
    name: build on linux
    runs-on: ubuntu-20.04
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: apt update
      run: |
        sudo apt-get update
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: cache NDK
      uses: actions/cache@v2
      env:
        cache-name: cache-ndk
      with:
        path: /usr/local/lib/android/sdk/ndk/21.3.6528147
        key: ndk_r21d_linux
    - name: apt install
      run: |
        echo y | sudo apt-get install xvfb wget unzip libc6 \
                 libcurl3-gnutls-dev  libfreetype6-dev libgcc1 libjpeg-dev \
                 libpng-dev libstdc++6 libwebkit2gtk-4.0-dev libx11-6 \
                 libxext6 zlib1g  make g++ mesa-common-dev libasound2-dev \
                 libjack-jackd2-dev ladspa-sdk \
                 doxygen libgrpc++-dev libgrpc-dev \
                 libprotobuf-dev protobuf-compiler protobuf-compiler-grpc \
                 graphviz cmake ninja-build
    - name: stupid NDK setup workaround for GitHub Actions
      run: sudo mkdir -p /usr/local/lib/android/sdk/ndk && sudo chmod 777 /usr/local/lib/android/sdk/ndk
    - name: specify local cmake for NDK CMake integration
      run: echo "cmake.dir=/usr" > local.properties
    - name: build
      run: ./build.sh
    - name: upload-artifact
      uses: actions/upload-artifact@v1
      with:
        name: apk
        path: app/build/outputs/apk/release/app-release-unsigned.apk

  osx-build:
    name: build on osx
    runs-on: macos-10.15
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: cache NDK
      uses: actions/cache@v2
      env:
        cache-name: cache-ndk
      with:
        path: /Users/runner/Library/Android/sdk/ndk/21.3.6528147
        key: ndk_r21d_osx
    - name: install deps
      run: |
        brew install doxygen pkg-config cmake coreutils ninja graphviz grpc
    - name: specify local cmake for NDK CMake integration
      run: echo "cmake.dir=/usr/local/Cellar/cmake/3.19.3" > local.properties
    - name: build
      run: ./build.sh
      env:
        ANDROID_SDK_ROOT: /Users/runner/Library/Android/sdk

  windows-build:
    name: build on windows
    runs-on: windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: test test test
      run: cmd /c where cmake
    - name: specify local cmake for NDK CMake integration
      run: echo "cmake.dir=C:\\Program\ Files\\CMake" > local.properties
    - name: build
      run: ./build.bat
